/* Selecciona la fuente desde Google Fonts API */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: darkgreen;
    text-align: center;
    padding: 20px;
}

header img {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    /* Añadido para redondear la imagen */
}

header h1 {
    color: white;
    margin-top: 10px;
    /* Añadido para dar espacio entre la imagen y el nombre */
}

nav {
    background-color: black;
    text-align: center;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    /* Quita los bullets de la lista de enlaces */
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 10px;
}

main {
    max-width: 800px;
    /* Ajusta según sea necesario */
    margin: 0 auto;
    /* Centra el main horizontalmente */
    display: grid;
    grid-template-columns: 1fr;
    /* Muestra las secciones en una sola columna */
    gap: 20px;
    /* Espaciado entre las secciones */
}

.card {
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
}

.card h3 {
    background-color: #2ecc71;
    /* Cambiado a un color azul verdoso */
    color: white;
    padding: 10px;
}

footer {
    background-color: #2ecc71;
    /* Cambiado a un color azul verdoso */
    color: white;
    text-align: center;
    padding: 10px;
}

/* Configuración del tipo de letra */
h1,
h2,
h3,
p,
li {
    font-family: 'Open Sans', sans-serif;
}